@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Sigmar&display=swap'); 

body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
}



.logo {
    width: 80px;
    margin: auto;
    display: block;
}

nav {
    width: 1200px;
    height: 60px;
    background-color: #806A53;
    margin: auto;
    color: antiquewhite;
    font-size: 24px;
}


nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    width: 201px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: inline;
    
}

nav li {
    margin: 15px;
    float: left;
}


section{
    width: 1fr;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 20px;
    margin-top: 10px;
}

p{
    text-align: justify;
}

#textofooter{
    color: aliceblue;
    padding: 35px;
    text-align: center;
}


footer{
    width: 1fr;
    text-align: center;
    background-color:#BDB198;
    margin: auto;
    border-radius: 20px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 35px;
    padding-left: 35px;
}

h1 {
    color: #7d3636;
    width: 1f;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius:10px ;
    font-size: 45px;
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    border: 1px solid;
    border-color: #ffffff;
}


.index_calzado {
    width: 476px;
}
nav li:hover {
    background-color: #bdb198;
    padding: 15px;
    margin: 0px;
}

nav a:hover {
    color: #806A53;
}

h2 {
    text-align: center;
    margin: 15px;
}

.precio {
    color: #c53c3c;
    font-size: 30px;
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    text-align: right;
}

.slides{
    display: flex;
    width: 410%;
    animation-name: slide;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.slide{
    width: 650px;
}

.slide img{
    height: 860px;
    display: block;
}

@keyframes slide{
    0%{transform: translateX(0);}
    50%{transform: translateX(-50%);}
    100%{transform: translateX(0);}
}



header{
    width: 1fr;
    height: 800px;
    background-color: bisque;
    background-position: center;
    background-size: cover;
    animation-name: abanner;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes abanner{
    0%{background-image: url(../img/Banner1.jpg);background-size: cover; background-position: center;}
    40%{background-image: url(../img/Banner3.jpg);background-size: cover; background-position: center;}
    80%{background-image: url(../img/banner4.jpg);background-size: cover; background-position: center;}
    100%{background-image: url(../img/Banner1.jpg);background-size: cover; background-position: center;}
}

.formulario{
    width: 600px;
    background-color: #806a53c8;
    color: beige;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    border-radius: 10px;
    text-size-adjust: 25px;
}

.titulo{
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 5px;
    font-style: oblique;
}

.controles{
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.675);
    border-radius: 5px;
}

.grupo{
    padding: 15px;
    margin-bottom: 15px;
    text-align: left;
}

.radio{
    margin-bottom: 10px;
    margin-left: 25px;
}

.boton{
    width: 150px;
    padding: 8px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #806A53;
    color: white;
    font-size: 18px;
}

.formulario .boton:hover{
    width: 155px;
    background-color: #f4d3af;
    color: rgb(0, 0, 0);
    font-size: 19px;
}

.atitulos {
    animation-name: atitulo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes atitulo {
    0%{font-size: 45px;color: #7d3636;}
    50%{font-size: 48px;color: #a56161;}
    100%{font-size: 45px;color: #7d3636;}
}


.galeria {
    margin-bottom: 2rem;
}

.grid-galeria {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
        
}

.galeria-item img {
    width: 100%;
    border-radius: 10px;
}


@media (min-width:769px) and (max-width:1024px) {

    .grid-galeria {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:10px;
    }
    
}

iframe {
    display: table;
    margin: auto;
    box-shadow: 50px 55px 55px rgba(6, 67, 108, 0.199);
}

/* ESTILOS PARA CELULARES */

@media (max-width:768px)  {
    

    iframe {
        width: 100%;
        height: 450px;
        display: table;
        margin: auto;
        box-shadow: 50px 55px 55px rgba(6, 67, 108, 0.199);
    }
    

    nav {
        width: 100%;
        height: 100px;
        border-radius: 0px;
        padding: 30px;
        margin: auto;
    }

    nav ul {
        flex-direction: column;
    }


    nav li {
        margin: 5px;
        border-bottom: 0px solid rgb(244, 238, 230);
    }

    nav a {
        text-align: left;
    }



    .grid-galeria {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 0px;
    }
    
    #textofooter{
        color: aliceblue;
        padding: 35px;
        text-align: center;
    }


    footer{
        width: 1fr;
        text-align: center;
        background-color:#BDB198;
        margin: auto;
        border-radius: 20px;
        margin-top: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 35px;
        padding-left: 35px;
    }

    h1 {
        color: #7d3636;
        width: 1f;
        margin: auto;
        text-align: center;
        padding: 10px;
        border-radius:10px ;
        font-size: 45px;
        font-family: "Sigmar", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    

}
